version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      # Optional: Maps your local model folder to the container so you can update weights without rebuilding
      - ./backend/Model:/app/Model
    restart: always

  frontend:
    build: ./frontend
    ports:
      - "3000:80" # Maps local port 3000 to container port 80
    depends_on:
      - backend
    restart: always